/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

/*@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&subset=cyrillic');*/

.clrfx{
	clear: both;
}

.main_wrap {
	color: gray;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2vw;
}
.header_wrap {
	position: relative;
	height: 20vw;
	background: url(../img/header_backgrd.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	box-shadow: 0vw .2vw .3vw gray;
}
/*@keyframes puk {
  20% {color: rgb(179, 143, 0);
  	text-shadow: -.25vw -.25vw 0.2vw rgb(102, 82, 0), -.2vw -.2vw 0.2vw rgb(102, 82, 0), -.1vw -.1vw 0.1vw rgb(102, 82, 0), .35vw .35vw 0.5vw gray;}
  22% {color: yellow;
  	text-shadow: -.25vw -.25vw 0.2vw rgb(255, 235, 153), -.2vw -.2vw 0.2vw rgb(255, 235, 153), -.1vw -.1vw 0.1vw rgb(204, 163, 0), .55vw .55vw 0.5vw gray;}
  24% {color: rgb(179, 143, 0);
  	text-shadow: -.25vw -.25vw 0.2vw rgb(102, 82, 0), -.2vw -.2vw 0.2vw rgb(102, 82, 0), -.1vw -.1vw 0.1vw rgb(102, 82, 0), .35vw .35vw 0.5vw gray;}
  26% {color: rgb(179, 143, 0);
  	text-shadow: -.25vw -.25vw 0.2vw rgb(102, 82, 0), -.2vw -.2vw 0.2vw rgb(102, 82, 0), -.1vw -.1vw 0.1vw rgb(102, 82, 0), .35vw .35vw 0.5vw gray;}
  32% {color: yellow;
  	text-shadow: -.25vw -.25vw 0.2vw rgb(255, 235, 153), -.2vw -.2vw 0.2vw rgb(255, 235, 153), -.1vw -.1vw 0.1vw rgb(204, 163, 0), .55vw .55vw 0.5vw gray;}
  35% {color: rgb(179, 143, 0);
  	text-shadow: -.25vw -.25vw 0.2vw rgb(102, 82, 0), -.2vw -.2vw 0.2vw rgb(102, 82, 0), -.1vw -.1vw 0.1vw rgb(102, 82, 0), .35vw .35vw 0.5vw gray;}
  38% {color: yellow;
  	text-shadow: -.25vw -.25vw 0.2vw rgb(255, 235, 153), -.2vw -.2vw 0.2vw rgb(255, 235, 153), -.1vw -.1vw 0.1vw rgb(204, 163, 0), .55vw .55vw 0.5vw gray;}
  55% {color: rgb(179, 143, 0);
  	text-shadow: -.25vw -.25vw 0.2vw rgb(102, 82, 0), -.2vw -.2vw 0.2vw rgb(102, 82, 0), -.1vw -.1vw 0.1vw rgb(102, 82, 0), .35vw .35vw 0.5vw gray;}
  80% {color: yellow;
  text-shadow: -.25vw -.25vw 0.2vw rgb(255, 235, 153), -.2vw -.2vw 0.2vw rgb(255, 235, 153), -.1vw -.1vw 0.1vw rgb(204, 163, 0), .55vw .55vw 0.5vw gray;}
  100% {color: rgb(255, 204, 0);}
}*/
@keyframes {
	
}
.puk_head {
	position: absolute;
	left: 16vw;
	bottom: -3vw;
	font-size: 10vw;
	color: rgba(255, 204, 0, 0.8);
	text-transform: uppercase;
	font-weight: 700;
	transform: scaleY(.95);
	/*text-shadow: -.25vw -.25vw 0.2vw rgb(255, 235, 153), -.2vw -.2vw 0.2vw rgb(255, 235, 153), -.1vw -.1vw 0.1vw rgb(204, 163, 0), .35vw .35vw 0.5vw gray;*/
	animation-name: puk;
  	animation-duration: 7s;  
  	animation-delay: 0s;
  	animation-iteration-count: 1;
}
.beer_head {
	position: absolute;
	left: 34vw;
	bottom: -5vw;
	font-size: 10vw;
	color: rgb(255,0,0);
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 
	-.25vw -.25vw 0.1vw hsl(0, 100%, 30%), 
	-.2vw -.2vw 0.1vw hsl(0, 100%, 30%), 
	-.1vw -.1vw 0.1vw darkred,
	.3vw .3vw .8vw hsla(0, 100%, 90%, 0.5), 
	-.6vw .3vw .8vw hsla(0, 100%, 90%, 0.5), 
	.3vw -.3vw .8vw hsla(0, 100%, 90%, 0.5), 
	-.6vw -.6vw .8vw hsla(0, 100%, 90%, 0.5);
}
.logo {
    width: 18vw;
    height: 6vw;
    background: none;
    float: left;
    margin-top: 2vw;
    margin-left: 2vw;
}
.nav_wrap {
	border: 0.1vw solid rgba(255,255,255,0.5);
	border-radius: 0.4vw;
	background: linear-gradient(180deg, rgba(255, 204, 0 ,0.7) 0%, rgba(255, 235, 153,0.7) 16%, rgba(255, 204, 0 ,0.7) 100%);
	float: right;
	display: flex;
	flex-direction: row;
	margin-right: 2vw;
	margin-top: 2vw;
}
.nav_wrap a {
	display: block;
	height: 2vw;
    box-sizing: border-box;
    padding-top: .21vw;
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .15vw;
	color: rgb(96,96,96);
	font-family: 'Oswald', sans-serif;
	font-size: 1.2vw;
	border-right: 0.1vw solid rgba(255,255,255,0.5);
}
.nav_wrap a:last-child {
	border-right: none;
}
.nav_wrap a:hover {
	background: linear-gradient(180deg, rgba(255, 204, 0 ,0.9) 0%, rgba(255, 235, 153,0.9) 16%, rgba(255, 204, 0, 0.9) 100%);
}
.main_header {
	float: left;
	display: flex;
	flex-direction: row;
	margin-top: 7vw;
	margin-bottom: 2vw;
	margin-left: 10%;
	font-size: 1.8vw;
	font-weight: bold;
	letter-spacing: .25vw;
	text-transform: uppercase;
	border-top: .1vw solid rgb(204, 0, 0);
	border-bottom: .3vw rgb(204, 0, 0);
	border-bottom-style: double;
	box-sizing: border-box;
	padding-left: 0.75vw;
	padding-right: 0.75vw;
	padding-top: 0.2vw;
}
.main_header i {
	margin-top: .5vw;
	font-size: 1.4vw;
	color: rgb(255, 204, 0);
}
.main_header a {
	display: block;
	box-sizing: border-box;
	height: 2.7vw;
	text-decoration: none;
	background: linear-gradient(
	180deg, 
	rgba(255, 0, 0 ,0.9) 0%, 
	rgba(255, 0, 0 ,0.9) 10%, 
	rgba(255, 204, 0 ,0.9) 80%
	);
	color: transparent;
	padding-left: 0.75vw;
	padding-right: 0.75vw;
	/*text-shadow: .2vw .2vw .3vw lightgray;*/
	-webkit-background-clip: text;
	transition: .6s all ease;
}
.main_header a:hover {
	/*color: rgb(255, 0, 0);
	transform: scale(1.1);
	border-bottom: .2vw solid black;*/
	background: linear-gradient(
	0deg, 
	rgba(255, 0, 0 ,0.9) 0%, 
	rgba(255, 0, 0 ,0.9) 10%, 
	rgba(255, 204, 0 ,0.9) 80%
	);
	-webkit-background-clip: text;
	transform: scale(1.1);
}
.main_header a:active {
	color: rgb(255, 0, 0);
	transform: scale(.5);
	/*border-bottom: .2vw solid black;*/
}
.main_header a:target{
	color: rgb(255, 0, 0);
	/*border-bottom: .2vw solid black;*/
}
.bar {
	width: 74%;
	float: left;
	
}
.product_galary {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0% 0% 0% 2.5%;
	
}
.product_galary figure {
	box-sizing: border-box;
	position: relative;
	width: 32%;
	padding: 1%;
	left: 0; 
	bottom: -30%;
}
.product_galary figure .sale {
	position: absolute;
	width: 20%;
	font-size: 1.5vw;
	color: rgb(96,96,96);
	font-weight: bold;
	background: rgba(255, 204, 0, .7);
	padding: .2vw 1vw;
}
.product_galary figure:nth-child(-n+3) .sale {
	right: 2vw;
	top: 2vw;
}
.product_galary figure:nth-child(n+4) .sale {
	left: 2vw;
	bottom: 2vw;
}
.product_galary figure img {
	width: 100%;
	transition: all 0.6s ease;
}
.product_galary figure figcaption {
	position: absolute;
  	font-size: 1.1vw;
  	font-weight: 300;
  	background: rgba(255, 204, 0, 0.8);
  	color: rgb(96,96,96);
  	padding: 5% 5%;
  	opacity: 0;
	transition: all 0.6s ease;
}
.product_galary figure:nth-child(-n+3) figcaption {
  left: 2.4%;
  bottom: -5%;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}
.product_galary figure:nth-child(n+4) figcaption {
  left: 2.4%;
  top: -5%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.over_1 {
	background: url(../img/cap2.jpg) no-repeat;
	background-size: 100%;
	position: absolute;
	width: 20%;
	height: 20%;
	opacity: 0.7;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.6s ease;
}
.product_galary figure:nth-child(-n+3) .over_1 {
	left: 40%;
	top: 20%;
}
.product_galary figure:nth-child(n+4) .over_1 {
	left: 40%;
	bottom: 18%;
}
.product_galary figure::before {
	content: "подробнее";
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(204, 0, 0);
	letter-spacing: .1vw;
	font-size: 1.5vw;
	opacity: 0;
	transition: all 0.6s ease;
}
.product_galary figure:nth-child(-n+3)::before {
	left: 33.5%;
	top: 50%;
}
.product_galary figure:nth-child(n+4)::before {
	left: 33.5%;
	bottom: 50%;
}
.product_galary figure:nth-child(-n+3):hover figcaption {
	opacity: 1;
	left: 2.4%;
	bottom: 5%;
}
.product_galary figure:nth-child(n+4):hover figcaption {
	opacity: 1;
	left: 2.4%;
	top: 5%;
}
.product_galary figure:hover img {
	opacity: 0.2;
}
.product_galary figure:hover::before {
	opacity: 1;
}
.product_galary figure:hover .over_1 {
	opacity: 1;
	transform: rotate(360deg);
}
.warning {
	width: 22%;
	float: right;
	margin-right: 2.5%;
	margin-left: 0px;
	margin-top: 2vw;
}
.warning h1 {
	font-size: 1.8vw;
	font-weight: bold;
	background: linear-gradient(180deg, rgba(255, 0, 0 ,0.9) 0%, rgba(255, 0, 0 ,0.9) 10%, rgba(255, 204, 0 ,0.9) 80%);
	color: transparent;
	/*text-shadow: 
	.1vw .1vw .0vw gray,
	-.1vw -.1vw .0vw gray,
	-.1vw .1vw .0vw gray,
	.1vw -.1vw .0vw gray;*/
	padding-left: 5%;
	padding-top: 0.4vw; 
	padding-bottom: 0.4vw;
	margin-bottom: 3%;
	margin-top: 5%;
	text-transform: uppercase;
	box-shadow: .1vw .3vw .3vw lightgray;
	-webkit-background-clip: text;
}
.warning p {
	font-weight: 300;
	text-indent: 1.5vw;
	padding-right: .5vw;
	padding-left: .5vw;
}
